---
import ProjectTag from "./ProjectTag.astro";
import FinishTaskButton from "./FinishTaskButton.astro";
import ArchiveButton from "./ArchiveButton.astro";

interface Props {
  todo: {
    description: string;
    project: string;
    projectColor: string;
    id: string;
  };
}

const { todo } = Astro.props;
---

<div
  class="w-[1024px] py-5 px-6 border border-gray-100 rounded-xl flex items-end shadow-sm justify-between todo"
>
  <div class="flex flex-col items-start gap-2">
    {
      todo.project ? (
        <ProjectTag name={todo.project} color={todo.projectColor} />
      ) : null
    }
    <div class="font-semibold text-xl">{todo.description}</div>
  </div>
  <div class="flex gap-2">
    <FinishTaskButton id={todo.id} />
    <ArchiveButton id={todo.id} />
  </div>
</div>
