---
import ProjectTag from "./ProjectTag.astro";
import FinishTaskButton from "./buttons/FinishTaskButton.astro";
import ArchiveButton from "./buttons/ArchiveButton.astro";
import DeleteButton from "./buttons/DeleteButton.astro";
import AddToday from "./buttons/AddToday.astro";

interface Props {
  todo: {
    description: string;
    project: string;
    projectColor: string;
    id: string;
  };
  isProjects: boolean;
}

const { todo, isProjects } = Astro.props;
---

<div
  class="w-full py-5 px-6 border border-gray-100 rounded-xl flex flex-col gap-4 sm:flex-row items-end shadow-sm justify-between todo"
>
  <div class="flex flex-col items-start gap-2 grow self-start">
    {
      todo.project ? (
        <ProjectTag name={todo.project} color={todo.projectColor} />
      ) : null
    }
    <div class="font-semibold text-xl">
      {todo.description}
    </div>
  </div>
  <div class="flex gap-2 flex-none items-end self-start sm:self-end">
    {
      !isProjects ? (
        <>
          <FinishTaskButton id={todo.id} />
          <ArchiveButton id={todo.id} />
        </>
      ) : (
        <>
          <AddToday id={todo.id} />
          <DeleteButton id={todo.id} />
        </>
      )
    }
  </div>
</div>
